html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --button-backround-color: #f5f4fa;
  --secondary-font-family: "Raleway", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
.h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img{
  display:block;
  max-width: 100%;
}

/* УТИЛІТИ */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  border-bottom: 1px solid #ececec;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* НАВІГАЦІЯ */
.navigation-list-item .navigation-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.list-killer {
  list-style: none;
}
.links {
  text-decoration: none;
}
.adress a:hover,
a:focus {
  color: var(--accent-color);
}

.adress-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
}
.header-flex {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.adress {
  display: flex;
  margin-left: auto;
}
.navigation-list .navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.adress .adress-item:not(:last-child) {
  padding-right: 50px;
}

/* ГЕРОЙ */
.order-btn {
  color: var(--primary-white-color);
  background-color: #2196f3;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  font-family: inherit;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-width: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: inline-block;

  min-width: 216px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
}

.order-btn:hover,
.order-btn:focus {
  background: #188ce8;
}
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 210px;
}
.hero-title {
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 0.06em;
}
.hero-div {
  text-align: center;
}

.logo {
  margin-right: 93px;
}

/* ЛОГО */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;

  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: #000000;
}
.footer-logo-studio {
  color: #ffffff;
}
/* переваги */
.adress .advantages {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.advantages-info-container {
  width: 270px;
}
.advantages:not(:last-child) {
  margin-right: 30px;
}

.hidden-title {
  text-align: center;
}
.adress {
  font-style: normal;
}
.advantages .advantages-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-title {
  margin-bottom: 10px;
}
.list {
  display: flex;
}
.advantages-list {
  display: flex;
  justify-content: center;
}
.about-list-item:not(:last-child) {
  margin-right: 30px;
}


.what-are-we-doing {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.section.about{
  padding-top: 0;
}
.team-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.our-team-section {
  background-color: #f5f4fa;
}
.our-team .member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;

  letter-spacing: 0.03em;
}
.member-name {
  text-align: center;
  margin-bottom: 10px;
}


.our-team .team-member .about-member {
  font-size: 16px;
  line-height: 1.1875;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
}
.about-member{
  text-align: center;
}
.our-team .team-member:not(:last-child) {
  margin-right: 30px;
}

.first-member {
  width: 270px;
  height: 368px;
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.second-member {
  width: 270px;
  height: 368px;
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.third-member {
  width: 270px;
  height: 368px;
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.fourth-member {
  width: 270px;
  height: 368px;
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team {
  display: flex;
  justify-content: center;
  flex-basis: calc((100% - 90px) / 4);
}
.member{
  padding-top: 30px;
  padding-bottom: 30px;


}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-tel,
.footer-mail {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-location {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer-location:hover,
.footer-location:focus,
.footer-tel:hover,
.footer-tel:focus,
.footer-mail:hover,
.footer-maill:focus {
  color: var(--accent-color);
}
.footer {
  background: #2f303a;
}

/* портфоліо */

.filters button:hover,
button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.filters button {
  color: var(--primary-text-color);
  background-color: var(--button-backround-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-width: 0;
  font-family: inherit;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
}
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}
.filters-buttons {
  margin-right: 8px;
}

.btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border-radius: 4px;
  margin-top: 100px;
}
.list-item .poster-title {
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);

  letter-spacing: 0.06em;
}
.poster-title{
  margin-bottom: 4px;
}
.list-item .poster-filter {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
}
.main-section-list {
  display: flex;
  flex-wrap: wrap;
}

.list-item{
  margin-right: 30px;
  margin-bottom: 30px;
}
.list-item:nth-child(3n){
  margin-right: 0;
}
.list-item:nth-last-child(-n + 3){
  margin-bottom: 0;
}
.test{
  
}
.poster-info{
  padding-top:20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;

}
.logo-footer{
  margin-bottom:20px;
  margin-right: 0;
  display: inline-block;

}
.footer-adress-space:not(:last-child){
  margin-bottom: 9px;
}
